.DS_Store
doc/
STATUS.md
.zed/


# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target


# Added by cargo
#
# already existing elements were commented out

#/target
data.db
